
<div class="container">

  <h3 class="d-flex justify-content-center">ZapSign</h3>
  <h5 class="d-flex justify-content-center">A assinatura eletrônica e digital sem mistérios</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark justify-content-center">

  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="user"
      class="m-1 btn btn-light btn-outline-primary" Button>Usuários</button>
    </li>
    <li class="nav-item">
      <button routerLink="document"
      class="m-1 btn btn-light btn-outline-primary" Button>Documentos</button>
    </li>
    <li class="nav-item">
      <button routerLink="company"
      class="m-1 btn btn-light btn-outline-primary" Button>Empresas</button>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>

</div>
